.one{
    background-color: chartreuse;
    text-align: center;
}
.two{
    background-color: chocolate;
    text-align: center;
}
.three{
    background-color: cyan;
    text-align: center;
}
.four{
    background-color: darkgreen;
    text-align: center;
}
pre{
    text-align: center;
}
.five{
    text-align: center;
}
.six{
    text-align: center;
}